@import "tailwindcss" prefix(tw) important;

:root {
  --main-color: #9e2265;
  --hover-color: #b8286f;
  --main-light-color: #fdf7fc;
  --main-accent-color: #f3e8ff;

  --primary-dark: #7a1d52;
  --primary-light: #d946ef;
  --text-muted: #6b7280;
  --text-light: #9ca3af;
}

.swiper-slide {
  transition: all 0.3s ease;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Modal animations */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.header-nav-link-active {
    color: var(--main-color) !important;
    font-weight: 600;
}

.header-nav-link:hover {
    color: var(--main-color) !important;
}

.header-nav-link {
    position: relative !important;
}

.header-nav-link:hover.header-nav-link:after,
.header-nav-link-active:after
{
    content: '';
    height: 3px;
    background-color: var(--main-color);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.box-hidden {
    overflow: hidden !important;
}

.fa-map:before {
    content: '\f279';
}
