@import 'tailwindcss' prefix(tw) important;

:root {
  --main-color: #9e2265;
  --hover-color: #b8286f;
  --main-light-color: #fdf7fc;
  --main-accent-color: #f3e8ff;

  --primary-dark: #7a1d52;
  --primary-light: #d946ef;
  --text-muted: #6b7280;
  --text-light: #9ca3af;

  --success-color: #22c55e;
}

.swiper-slide {
  transition: all 0.3s ease;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Modal animations */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.header-nav-link-active {
  color: var(--main-color) !important;
  font-weight: 600;
}

.header-nav-link:hover {
  color: var(--main-color) !important;
}

.header-nav-link {
  position: relative !important;
}

.header-nav-link:hover.header-nav-link:after,
.header-nav-link-active:after {
  content: '';
  height: 3px;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.box-hidden {
  overflow: hidden !important;
}

.fa-map:before {
  content: '\f279';
}

.fa-angle-up:before {
  content: '\f106';
}

.fa-clock-o:before {
  content: '\f017';
}

.fa-map-marker:before {
  content: '\f041';
}

.fa-envelope-o:before {
  content: '\f003';
}

.fa-phone:before {
  content: '\f095';
}

.hoverable-link:hover {
  color: var(--main-color) !important;
  text-decoration: none !important;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.footer-contact-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.thumb-swiper .swiper-slide-thumb-active {
  opacity: 1 !important;
  border: 2px solid #9e2265 !important;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(158, 34, 101, 0.3);
}

.title-container {
  z-index: 1;
  display: block;
  position: relative;
  background-color: var(--main-color);
  padding: 20px 15px;
}

@media (max-width: 991px) {
  .title-container {
    padding: 19px 15px 13px;
  }
}

.title-text {
  font-size: 4.2rem;
  color: white;
  margin-bottom: 0;
  font-family: 'MtdValkySemibold';
  font-weight: normal;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .title-text {
    font-size: 2.4rem;
  }
}
